@page
@model RazorPageLayoutFormularSamples.Pages.GallerySample.UploadFormularModel
@{
}


<form enctype="multipart/form-data" method="post">
    <input type="file" name="file" dirname="C:\" />
    <input type="submit" value="Upload" />
</form>
